@import url('https://fonts.googleapis.com/css?family=Federo');
@import url('https://fonts.googleapis.com/css?family=Dorsa');
@import url('https://fonts.googleapis.com/css?family=Antic+Didone');
@import url('https://fonts.googleapis.com/css?family=BenchNine');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:100');
@import url('https://fonts.googleapis.com/css?family=Wire+One');


body {
    background-color: #55555c;
    margin-right: 300px;
    padding-top: 20px;
}

.masthead {
    background-color: #333336;
    color: #eeeeef;

    position: absolute;
    /* position: fixed; */
    z-index: 1;
    /* height: 100%; */
    min-height: 100%;
    top: 0;
    right: 0;
    width: 300px;

    padding-top: 50px;
}

.masthead h1 {
    font-size: 7em;
    text-align: right;
    line-height: 0.9em;

    font-family: 'Federo';
    margin-bottom: 100px;
}

article {
    background-color: #eeeeef;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

footer.permalink {
    text-align: right;
}
