body {
    background-color: #55555c;
}

.masthead {
    background-color: #333336;
    color: #eeeeef;
    padding-top: 10px;
    margin-bottom: 20px;
}

article {
    background-color: #eeeeef;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
}

footer.permalink {
    text-align: right;
}
