/* Variables */
:root {
  --main: #55555c;
  --accent: #333336;
  --body: #eeeeef;
}

/* Items */
body {
  /* Position */

  /* Box Model */

  /* Typography */
  font-family: 'Open Sans', sans-serif;

  /* Visual */
  background-color: #55555c;

  /* Misc */
}

.masthead {
  /* Position */

  /* Box Model */
  min-width: 100%;
  padding: .25em 0;

  /* Typography */

  /* Visual */
  background-color: #333336;
  color: #eeeeef;

  /* Misc */
}

.masthead h1 {
  /* Position */

  /* Box Model */
  margin: 0.25em 0;

  /* Typography */
  font-family: 'Cormorant';
  font-weight: 300;
  font-size: 5em;
  text-align: right;
  line-height: 0.9em;

  /* Visual */

  /* Misc */
}

.container {
  /* Position */

  /* Box Model */
  max-width: 1000px;
  margin: 0 auto;

  /* Typography */

  /* Visual */

  /* Misc */
}

.content {
  /* Position */

  /* Box Model */
  padding-top: 1em;

  /* Typography */

  /* Visual */
  display: grid;
  grid-template-columns: 2fr 5fr;
  column-gap: 2.5em;

  /* Misc */
}

.sidebar {
  /* Position */

  /* Box Model */
  border-radius: 0.4em;
  padding: 0.75em;

  /* Typography */

  /* Visual */
  background-color: #eeeeef;

  /* Misc */
}

.list {
  /* Position */

  /* Box Model */

  /* Typography */

  /* Visual */

  /* Misc */
}

.list > article {
  /* Box Model */
  margin-bottom: 1.5em;
}

.list > article:last-child {
  margin-bottom: auto;
}

article {
  /* Position */

  /* Box Model */
  padding: 1em;
  border-radius: 0.7em;

  /* Typography */

  /* Visual */
  background-color: #eeeeef;

  /* Misc */
}

footer.permalink {
  /* Position */

  /* Box Model */

  /* Typography */
  text-align: right;

  /* Visual */

  /* Misc */
}

/* Template */

  /* Position */

  /* Box Model */

  /* Typography */

  /* Visual */

  /* Misc */
